
  @import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

.button{
    height: fit-content;
    padding: 15px;
    background-color: #C42307;
    border-radius: 10px;
    color: whitesmoke;
    font-family: 'Varela Round', sans-serif;
    font-size: 20px;
}
.button:disabled{
    background-color: #ccff00;
    color: black;
}
.button:hover{
  cursor: pointer;
}